
.cards {
  .tip-card {
    position: relative;

    &__link {
      display: block;
    }
    &__title {
      display: none;
    }
    &__thumbnail{
      img {
        flex-grow: 1;
        border-radius: 6px;
      }
    }
    &__cta {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      width: 20%;
      padding: 10px 15px;
      border-radius: 6px;
      color: #fff;
      font-size: .8rem;
      margin: auto;
      text-transform: uppercase;
      transform: translateY(-20px);
    }
  }
}
