/**
 * Global app/site styles
 * =================================
 */
body {
	background-color: #fff;
}

/**
 * Default layout container
 */
.l-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
