/**
 * Global app/site styles
 * =================================
 */
body {
  background-color: #fff;
  color: #1D1D1D;
}

/**
 * Default layout container
 */
.l-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.category {
  margin-bottom: 90px;
}

.title-main {
  font:700 3rem "Work Sans";
}
